# SSH private key — никогда не коммитить!
ssh/id_rsa

# Docker volumes data
data/

# Ansible retry files
ansible/*.retry

# Пароль ansible-vault — никогда не коммитить!
ansible/.vault_pass

# macOS
.DS_Store
